<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <h1><%= title %></h1>

        <form action="/add" method="POST">
            <legend>
                Add a Task
            </legend>

            <div class="form-group">
                <input type="text" id="title" class="form-control" name="title">
            </div>
            <div class="form-group">
                <textarea class="form-control" name="description" id="" cols="50" rows="1" placeholder="Add a Description"></textarea>
            </div>
            <button class="btn btn-primary">
                Add
            </button>
        </form>
        <hr>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                <% for (var i = 0; i < task.legth; i++) {%>

                <% }%>    
            </tbody>
        </table>
    </div>

    <script>
        document.getElementById('title').focus();
    </script>
</body>
</html>